.subcategory {
    width: 70%;
    margin: auto;
    margin-bottom: 2%;
    border: 2px solid var(--main-color);
    border-radius: 10px;
}

.subcategory-title {
    width: 100%;
    color: var(--main-color);
}