<div>
    <form>
        <div>
            <div class="settings">
                <h2 style="text-align: center;">Settings</h2>

                <label for="cookies">Cookies&emsp;&emsp;</label>
                <select name="cookies" id="cookies">
                    <option value="enable">Enable</option>
                    <option value="disable">Disable</option>
                </select><br><br>

                <label for="theme">Theme&emsp;&emsp;</label>
                <select id="theme" name="theme">
                    <option value="light">Light</option>
                    <option value="dark">Dark</option>
                    <option value="green">Green</option>
                </select><br><br>

                <label for="ads">Personalized Advertising&emsp;&emsp;</label>
                <select name="ads" id="ads">
                    <option value="enable">Enable</option>
                    <option value="disable">Disable</option>
                </select><br><br>

                <label for="ads">Language&emsp;&emsp;</label>
                <select name="ads" id="ads">
                    <option value="eng">English</option>
                    <option value="fr">French</option>
                    <option value="spn">Spanish</option>
                </select><br><br>

                <button class="login-button" type="submit" (click)="saveSettings()">Save Settings</button><br><br><br>
            </div>
            <br>
        </div>
    </form>
</div>