<div>
    <form>
        <div>
            <div class="login">
                <h2>Sign in</h2>
                <label>Username : </label>
                <input type="text" placeholder="Enter Username" name="username" required><br>
                <label>Password : </label>
                <input type="password" placeholder="Enter Password" name="password" required><br><br>
                <button class="login-button" type="submit">Login</button><br>
                <input type="checkbox" checked="checked">Remember me&emsp;&emsp;&emsp;&emsp;
                Forgot <a href="#"> password? </a>
            </div>
            <br>
            <div class="register">
                <hr><p>New to Stop One?</p><hr><br>
            </div>
            <a href="../sign_up/signup.html"><button class="register-button" type="button" formnovalidate="formnovalidate">Create your Stop One account</button></a>
        </div>
    </form>
</div>