:root {
	--main-color: #b4154f;
}

h1 {
    text-align: center;
    color: var(--main-color);
}

body {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
}

nav {
	padding: 10px;
	display: flex;
	height: 40px;
	justify-content: center;
  	align-items: center;
  	border-bottom: 1px solid #adadad;
}

nav button {
	margin-left: 10px;
	height: 100%;
	width: 40px;
	background-color: #b4154f;
	border: none;
	border-radius: 5px;
	color: white;
}

form button {
	margin: 0px;
	float: right;
	height: 100%;
	width: 60px;
	background-color: #b4154f;
	border: none;
	border-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

button:hover {
	cursor: pointer;
	filter: brightness(90%);
}

a {
	height: 100%;
	text-decoration: none;
}

p {
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
}

.logo {
	height: 41px;
	border-radius: 5px;
	width: auto;
}

.logo:hover {
	filter: brightness(90%);
}

.search-container {
	display: flex;
}

.search {
	width: 20vw;
	padding: 12px 20px;
	margin-left: 20px;
	display: inline-block;
	border: 1px solid #ccc;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-sizing: border-box;
}

.account {
	margin-left: 30px;
	font-size: 16px;
	scale: 1.35;
	color: white;
	background-color: #b4154f;
	width: 30px;
	height: 100%;
}

.contents {
	overflow: hidden;
	margin: auto;
	width: 60vw;
	max-width: 750px;
}

.deals {
	background-color: #f0ede6;
	height: 200px;
	margin: 5px;
	width: calc(100% - 10px);
}

.items {
	margin-top: 10px;
	margin-bottom: -20px;
	height: 300px;
	width: 100%;
	display: flex;
	text-align: center;
}
.item {
	width: 33%;
	margin-left: 5px;
	margin-right: 5px;
	height: 250px;
	background-color: #f0ede6;
	padding: 15px;
}

.top {
	margin-top: 20px;
	height: 30px;
	width: 100%;
	background-color: #b4154f;
	border: none;
	color: white;
}

.misc {
	width: 100%;
	height: 200px;
	background-color: #99063c;
}

#sign_in {
	color: white;
}

#links {
	width: calc(100% - 10px);
	margin: auto;
	background-color: var(--main-color);
	border-radius: 10px;
}

#categories {
	color: white;
	text-align: center;
}