<div>
    <div class="contents">
        <div id="links">
            <a id="categories" href="categories/categories.html"></a>
        </div>
        <div id="link">
            <a href="admin/admin.html">
                <p>Admin Page</p>
            </a>
        </div>
        <div id="link">
            <a id="categories" href="categories/categories.html">
                <p>Categories</p>
            </a>
        </div>

        <div class="deals">
            <p>Today's Deals</p>
        </div>

        <div class="items">
            <div class="item"><b>Store 1</b></div>
            <div class="item"><b>Store 2</b></div>
            <div class="item"><b>Store 3</b></div>
        </div>

        <div class="items">
            <div class="item"><b>Product 1</b></div>
            <div class="item"><b>Product 2</b></div>
            <div class="item"><b>Product 3</b></div>
        </div>
    </div>

    <a href="index.html"><button class="top">Back to top</button></a>
    <div class="misc"></div>

    <script type="text/javascript" src="script.js"></script>
</div>