body {
	font-family: Verdana, sans-serif;
	font-size: 12px;
}

p {
	text-align: center;
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 0px;
}

span {
	float: right;
}

hr {
    background-color: #adadad;
    border: 0 none;
    color: #eee;
    width: 80px;
    height: 1px;
}

button {
	background-color: #b4154f;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	width: 100%;
}

form {
	display: flex;
	justify-content: center;
	min-height: 98vh;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.login {
	border: 1px solid #adadad;
	border-radius: 4px;
	padding: 15px;
	margin-top: 80px;
}

.login-button {
	width: 100%;
  	padding: 10px 18px;
}

.register {
	display: flex;
}

.register-button {
	background-color: #d4d4d4;
	color: #4f4f4f;
	line-height: 0px;
	height: 30px;
	width: 100%;
}

h3{
	text-align: center;
}