doctype html
html(lang='en')
	head
		title Account
		link(rel='stylesheet' href='product.css')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

	body
		nav
			a(href='../index.html')
				img.logo(src='../assets/logo.png')

			div.search-container
				form
					input.search(
						type='text'
						placeholder='Search...'
						name='search'
					)
					button(type='submit')
						i(
							class='fa fa-search'
						)

			a(href="#accounts")
				button#account
					i(class='fa fa-user')

			a(href='../public/settings/settings.html')
				button#settings
					i(class='fa fa-gear')
						
			a(href='#cart')
				button#cart
					i(class='fa fa-shopping-cart')

			a#sign_in(href='../public/login/login.html')
				button SIGN IN

			a#sign_up(href='../public/signup/signup.html')
				button SIGN UP

		div.contents
			h1 Product Name

			img.product-img(src='../public/assets/logo.png')

			div.price
				h2 $19.99
					button.purchase(type='submit') Add to Cart
					button.purchase(type='submit') Purchase

			hr

			p Description
			
			p Ratings
			h5 &emsp;&emsp;Value
			h5 &emsp;&emsp;Durability
			h5 &emsp;&emsp;Coolness

			br
			p Reviews
			br

			button.purchase(type='submit') Report Product

		script(src='../public/script.js')