html
	head
		title List of Products
		link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css')

	body
		div(class="position-absolute top-0 start-50" style="margin-top: 200px")
			h3(class="h3 mb-3 fw-normal") Current inventory
			div(style={'padding-bottom': '10px'})
				input#id(type='text' placeholder=" Enter product ID" style={'margin-right': '10px'})
				a(href='javascript:;' onclick="this.href='/products/' + document.getElementById('id').value")
					button(type="button" class="btn btn-dark" style={'padding-right': '10px'}) Search
				br
			ul(class="list-group")
				if products.length > 0
					each product in products
						if product.hidden==false
							li(class="list-group-item list-group-item-action")
								a(href="/products/" + product["_id"])= product.name
								br
				else
					p There are currently no products stored in the database.
			a(href="/")
				button(type="button" class="btn btn-primary" style={'margin': '50px'}) Add New Products
			br
