.grid {
    display: flex;                       /* establish flex container */
    flex-wrap: wrap;                     /* enable flex items to wrap */
    justify-content: space-around;
}

.cell {
    flex: 0 0 32%;                       /* don't grow, don't shrink, width */
    height: 50px;
    margin-bottom: 5px;
    background-color: rgb(209, 209, 209);
}