div.contents
    h1 Product Name

    img.product-img(src='link')

    div.price
        h2 price
            button.purchase(type='submit') Add to Cart

    hr

    p Description

    button.purchase(type='submit') Report Product

script(src='../script.js')