p {
	font-weight: normal;
}

h3 {
	text-align: center;
}

.product-img {
	width: 50%;
}

.price {
	display: block;
}

.purchase {
	background-color: #b4154f;
	color: white;
	padding: 5px;
	margin-right: 3px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	width: 20%;
	float: left;
}

.report {
	background-color: #b4154f;
	color: white;
	padding: 5px;
	margin-right: 3px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	width: 20%;
	float: right;
}

.addButton{
	background-color: #b4154f;
	color: white;
	line-height: 0px;
	height: 30px;
	width: 40%;
}

.submit-form {
	display: flex;
	justify-content: center;
	min-height: 98vh;
}

input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.addButton {
	border: 1px solid #adadad;
	border-radius: 4px;
	padding: 15px;
	margin-top: 80px;
}