.user-img {
	width: 100%
}

.price {
	display: block;
}

.purchase {
	background-color: #b4154f;
	color: white;
	padding: 5px;
	margin-right: 3px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	width: 20%;
	float: right;
}

.addButton{
	background-color: #b4154f;
	color: white;
	line-height: 0px;
	height: 30px;
	width: 40%;
}