<div class="contents">
    <br>
    <h1>Contact</h1>
    <hr>
    <p>For business enquiries, please email us using the form below, for partnership oppurtunities please email us at stop@one.com or call us at +1(519) 555-8271.</p>
    <p>How can we help you?</p>
    <form action="mailto:contact@yourdomain.com" method="POST" enctype="multipart/form-data" name="EmailForm">
        <select name="contact" id="contact">
            <option value="select">Select...</option>
            <option value="refund">Refund</option>
            <option value="nro">Never received order</option>
            <option value="wrong">Wrong item</option>
            <option value="address">Change address</option>
        </select>
        <br><br>
       
            Name:<br>
        
            <input class="inpt" type="text" size="19" name="ContactName"><br><br>
        
            Message:<br> 
            
            <textarea class="inpt" name="ContactComment" rows="6" cols="20"></textarea><br><br>

        <input class="submit" type="submit" value="Submit">

    </form>

    <br>

    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d94443.86456302472!2d-82.99464225390622!3d42.2919534981513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x883b2ac1b54f886b%3A0xb66cd49527fcdc51!2sWindsor%2C%20ON!5e0!3m2!1sen!2sca!4v1658191726556!5m2!1sen!2sca"
        width="650" height="400" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>

</div>