<nav>
    <a href="homepage.component.html"><img class="logo" src="assets/logo.png"></a>
    <div class="search-container">
        <form>
            <input type="text" class="search" placeholder="Search..." name="search">
            <button type="submit"><i class="fa fa-search" style="scale: 1.5; color: white;"></i></button>
        </form>
    </div>

    <a href="#account"><button id="account"><i class="fa fa-user"></i></button></a>
    <a href="settings/settings.html"><button id="settings"><i class="fa fa-gear"></i></button></a>
    <a href="cart/cart.html"><button id="cart"><i class="fa fa-shopping-cart"></i></button></a>

    <a id="sign_in" href="login/login.html"><button>SIGN IN</button></a>
    <a id="sign_up" href="signup/signup.html"><button>SIGN UP</button></a>
</nav>