<!--Homepage-->

<div class="header"></div>

<br>

<div class="contents">
    <h1>Products List</h1>

    <div class="grid">
        <div class="container" *ngFor="let product of products; let i = index">
            <a href='/products/${product.id_}'>
                <div class="cell"><span style="float: left;">${{ product.price }}</span><span>{{ product.name }}</span>
                </div>
                <img id="test" src="../assets/background_images/athletics.jpg">
            </a>
        </div>
    </div>

    <div id="addButton">
        <div class="submit-form">
            <div *ngIf="!submitted">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" required [(ngModel)]="product.name" name="name" />
                </div>

                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" class="form-control" id="price" required [(ngModel)]="product.price"
                        name="price" />
                </div>

                <br>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input class="form-control" id="description" required [(ngModel)]="product.description"
                        name="description" />
                </div>
                <br>
                <button class="addButton" (click)="addProduct()">Add Product</button>
            </div>
        </div>
    </div>
</div>

<div>
    <a href="index.html"><button class="top">Back to top</button></a>
    <div class="misc">
        <br>
        <div><a href="../admin">Admin</a></div>
        <div><a href="../about">About</a></div>
        <div><a href="../contact">Contact</a></div>
    </div>
</div>