<!--Homepage-->

<div class="header"><a href="/products">Products</a></div>

<br>

<div class="contents">
    <div class="grid">
        <div class="container">
            <a href="">
                <p class="cell">Art</p>
                <img id="test" src="../assets/background_images/art.jpg">
            </a>
        </div>
        <div class="container">
            <a href="">
                <p class="cell">Athletics</p>
                <img src="../assets/background_images/athletics.jpg">
            </a>
        </div>
        <div class="container">
            <a href="">
                <p class="cell">Beauty</p>
                <img src="../assets/background_images/beauty.jpg">
            </a>
        </div>
        <div class="container">
            <a href="">
                <p class="cell">Electronics</p>
                <img src="../assets/background_images/electronics.jpg">
            </a>
        </div>
        <div class="container">
            <a href="">
                <p class="cell">Entertainment</p>
                <img src="../assets/background_images/entertainment.jpg">
            </a>
        </div>
        <div class="container">
            <a href="">
                <p class="cell">Fashion</p>
                <img src="../assets/background_images/fashion.jpg">
            </a>
        </div>
        <div class="container">
            <a href="">
                <p class="cell">Homemade</p>
                <img src="../assets/background_images/homemade.jpg">
            </a>
        </div>
        <div class="container">
            <a href="">
                <p class="cell">Outdoors</p>
                <img src="../assets/background_images/outdoors.jpg">
            </a>
        </div>
        <div class="container">
            <a href="">
                <p class="cell">Toys</p>
                <img src="../assets/background_images/toys.jpg">
            </a>
        </div>
    </div>
</div>

<div>
    <a href="index.html"><button class="top">Back to top</button></a>
    <div class="misc">
        <br>
        <div><a href="../admin">Admin</a></div>
        <div><a href="../about">About</a></div>
        <div><a href="../contact">Contact</a></div>
    </div>
</div>