<div>
    <div class="contents">
        <h1>Categories</h1>
        <!--3x3 grid to display the categories-->
        <div class="grid">
            <div class="container">
                <a href="">
                    <p class="cell" href="">Art</p>
                    <img src="../assets/background_images/art.jpg">
                </a>
            </div>
            <div class="container">
                <a href="">
                    <p class="cell" href="">Athletics</p>
                    <img src="../assets/background_images/athletics.jpg">
                </a>
            </div>
            <div class="container">
                <a href="">
                    <p class="cell" href="">Beauty</p>
                    <img src="../assets/background_images/beauty.jpg">
                </a>
            </div>
            <div class="container">
                <a href="">
                    <p class="cell" href="">Electronics</p>
                    <img src="../assets/background_images/electronics.jpg">
                </a>
            </div>
            <div class="container">
                <a href="">
                    <p class="cell" href="">Entertainment</p>
                    <img src="../assets/background_images/entertainment.jpg">
                </a>
            </div>
            <div class="container">
                <a href="">
                    <p class="cell" href="">Fashion</p>
                    <img src="../assets/background_images/fashion.jpg">
                </a>
            </div>
            <div class="container">
                <a href="">
                    <p class="cell" href="">Homemade</p>
                    <img src="../assets/background_images/homemade.jpg">
                </a>
            </div>
            <div class="container">
                <a href="">
                    <p class="cell" href="">Outdoors</p>
                    <img src="../assets/background_images/outdoors.jpg">
                </a>
            </div>
            <div class="container">
                <a href="">
                    <p class="cell" href="">Toys</p>
                    <img src="../assets/background_images/toys.jpg">
                </a>
            </div>
        </div>
    </div>
</div>