p {
    color:black;
}



h1{
    font-size: 45px;
}

h2{
    font-size:22px;
    
}

select{
    max-width: 100%!important;
    width: 100%!important;
    right: auto!important;
    padding-left: 0!important;
    direction:ltr;
    padding: 15px 222px;
    font-size: 20px;
}

#continue{
    border-radius: 5px;
    border:1px solid black;
    padding: 20px 335px;
    font-size: 20px;
    background-color:pink;
    color:white;
}

iframe{
    margin:0px 50px;
}

form {
    margin:30px 40px;
    display: flex;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.register {
    border: 1px solid #adadad;
    border-radius: 4px;
    padding: 15px;
}

.register-button {
    width: 100%;
    padding: 10px 18px;
}


button:hover {
    filter: brightness(90%);
}



