p {
    color:black;
}



h1{
    font-size: 45px;
}

h2{
    font-size:22px;
    
}

select{
    max-width: 100%!important;
    width: 100%!important;
    right: auto!important;
    padding-left: 0!important;
    direction:ltr;
    padding: 15px 222px;
    font-size: 20px;
}

#continue{
    border-radius: 5px;
    border:1px solid black;
    padding: 20px 335px;
    font-size: 20px;
    background-color:pink;
    color:white;
}

iframe{
    margin:0px 50px;
}

form {
    margin:30px 40px;
    display: flex;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.register {
    border: 1px solid #adadad;
    border-radius: 4px;
    padding: 15px;
}

.register-button {
    width: 100%;
    padding: 10px 18px;
}


button:hover {
    filter: brightness(90%);
}

.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.Yorder{
  margin-top: 15px;
  height: 600px;
  padding: 20px;
  border: 1px solid #dadada;
}
.Yorder>div{
  padding: 15px 0;
}

tr>td:nth-child(1){
  text-align: left;
  color: #2d2d2a;
}
tr>td:nth-child(2){
  text-align: right;
  color: #d43d17;
}
td{
  border-bottom: 1px solid #dadada;
  padding: 25px 25px 25px 0;
}

.required{
  color: red;
}
label, table{
  display: block;
  margin: 15px;
}
label>span{
  float: left;
  width: 25%;
  margin-top: 12px;
  padding-right: 10px;
}

body{
  background: url('http://all4desktop.com/data_images/original/4236532-background-images.jpg');
  font-family: 'Roboto Condensed', sans-serif;
  color: #262626;
  margin: 5% 0;
}



