.center {
    text-align: center;
}

.update-btn {
    width: 10vw;
    height: 5vh;
    margin: auto;
    background-color: var(--main-color);
    color: white;
    border: 1px solid var(--main-color);
    border-radius: 10px;
}