<div>
    <form action="/users" method="POST">
        <div>
            <div class="register">
                    <h2>Sign up</h2>
                    <label>Username : </label>
                    <input type="text" placeholder="Enter Username" name="username" required><br>
                    <label>E-mail : </label>
                    <input type="text" placeholder="you@example.com" name="email" required><br>
                    <label>Password : </label>
                    <input type="password" placeholder="Enter Password" name="password" required><br><br>
                    <button class="register-button" type="submit">Create Account</button><br>
            </div>
        </div>
    </form>
</div>
