<div>
    <form *ngIf="signinService.getlogin() == 'false'">
        <div>
            <div class="register">
                    <h2>Sign up</h2>
                    <label>Username : </label>
                    <input type="text" placeholder="Enter Username" name="username" required [(ngModel)]="signup.username"><br>
                    <label>E-mail : </label>
                    <input type="text" placeholder="you@example.com" name="email" required [(ngModel)]="signup.email"><br>
                    <label>Password : </label>
                    <input type="password" placeholder="Enter Password" name="password" required [(ngModel)]="signup.password"><br><br>
                    <button class="register-button" type="submit" (click)="signUp()">Create Account</button><br><br><br>
            </div>
        </div>
    </form>
    <div class="contents" *ngIf="signinService.getlogin() == 'true'"><h3>Account created successfully!</h3></div>
</div>
