nav {
    background-color:red;
    padding: 7px;
    display: flex;
    height: 40px;
    justify-content: center;
      align-items: center;
      border-bottom: 1px solid #adadad;
}

nav button {
    margin-left: 10px;
    height: 100%;
    width: 40px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    color: teal;
}

form button {
    margin: 0px;
    float: right;
    height: 100%;
    width: 60px;
    background-color: grey;
    border: none;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

a {
    height: 100%;
    text-decoration: none;
}

p {
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
}

a p {
    margin-bottom: 3%;
    color: blue;
    text-align: center;
}

.search-container {
    display: flex;
}

.search {
    width: 20vw;
    padding: 12px 20px;
    margin-left: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-sizing: border-box;
}

.account {
    margin-left: 30px;
    font-size: 16px;
    scale: 1.35;
    color: red;
    background-color: grey;
    width: 30px;
    height: 100%;
}


