<!--Navbar-->
<div class="navbar">
  <nav>
    <a routerLink="home"><img class="logo" src="../assets/logo.png"></a>
    <div class="search-container">
    </div>

    <a id="user" *ngIf="signinService.loggedIn" href="user"><button id="account"><i class="fa fa-user"></i></button></a>
    <a routerLink="settings"><button id="settings"><i class="fa fa-gear"></i></button></a>
    <a routerLink="checkout"><button id="cart"><i class="fa fa-shopping-cart"></i></button></a>

    <a id="sign_in" *ngIf="!signinService.loggedIn" routerLink="signin"><button>SIGN IN</button></a>
    <a id="sign_up" *ngIf="!signinService.loggedIn" routerLink="signup"><button>SIGN UP</button></a>
    <a id="sign_out" *ngIf="signinService.loggedIn" routerLink="home" (click)="signinService.logout()"><button>SIGN OUT</button></a>
  </nav>
  <router-outlet></router-outlet>
</div>