nav {
	padding: 7px;
	display: flex;
	height: 40px;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #adadad;
}

nav button {
	margin-left: 10px;
	height: 100%;
	width: 40px;
	background-color: #b4154f;
	border: none;
	border-radius: 5px;
	color: white;
}

form button {
	margin: 0px;
	float: right;
	height: 100%;
	width: 60px;
	background-color: #b4154f;
	border: none;
	border-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

a {
	height: 100%;
	text-decoration: none;
}

p {
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
}

a p {
	margin-bottom: 3%;
	color: white;
	text-align: center;
}

.search-container {
	display: flex;
}

.search {
	width: 20vw;
	padding: 12px 20px;
	margin-left: 20px;
	display: inline-block;
	border: 1px solid #ccc;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-sizing: border-box;
}

.account {
	margin-left: 30px;
	font-size: 16px;
	scale: 1.35;
	color: white;
	background-color: #b4154f;
	width: 30px;
	height: 100%;
}

#nav2 {
	background-color: black;
	padding: 7px;
	display: flex;
	height: 40px;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #adadad;
}

#nav3 {
	background-color: green;
	padding: 7px;
	display: flex;
	height: 40px;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #adadad;

}