<!--Navbar-->
<div class="navbar">
  <nav *ngIf="getTheme() == 'light'">
    <a routerLink="home"><img alt="StopOneLogo" class="logo" src="../assets/logo.png"></a>
    <div class="search-container">
    </div>

    <a id="user" *ngIf="signinService.getlogin() == 'true'" routerLink="user"><button id="account" style="width: 80px;">ACCOUNT</button></a>
    <a routerLink="settings"><button style="width: 80px;">SETTINGS</button></a>
    <a routerLink="payment"><button>CART</button></a>

    <a id="sign_in" *ngIf="signinService.getlogin() != 'true'" routerLink="signin"><button>SIGN IN</button></a>
    <a id="sign_up" *ngIf="signinService.getlogin() != 'true'" routerLink="signup"><button>SIGN UP</button></a>
    <a id="sign_out" *ngIf="signinService.getlogin() == 'true'" routerLink="home" (click)="signinService.logout()"><button>SIGN OUT</button></a>
  </nav>

  <nav *ngIf="getTheme() == 'dark'" id="nav2">
    <a routerLink="home"><img alt="StopOneLogo" class="logo" src="../assets/logo.png"></a>
    <div class="search-container">
    </div>

    <a id="user" *ngIf="signinService.getlogin() == 'true'" routerLink="user"><button id="account" style="width: 80px;">ACCOUNT</button></a>
    <a routerLink="settings"><button style="width: 80px;">SETTINGS</button></a>
    <a routerLink="payment"><button>CART</button></a>

    <a id="sign_in" *ngIf="signinService.getlogin() != 'true'" routerLink="signin"><button>SIGN IN</button></a>
    <a id="sign_up" *ngIf="signinService.getlogin() != 'true'" routerLink="signup"><button>SIGN UP</button></a>
    <a id="sign_out" *ngIf="signinService.getlogin() == 'true'" routerLink="home" (click)="signinService.logout()"><button>SIGN OUT</button></a>
  </nav>

  <nav *ngIf="getTheme() == 'green'" id="nav3">
    <a routerLink="home"><img alt="StopOneLogo" class="logo" src="../assets/logo.png"></a>
    <div class="search-container">
    </div>

    <a id="user" *ngIf="signinService.getlogin() == 'true'" routerLink="user"><button id="account" style="width: 80px;">ACCOUNT</button></a>
    <a routerLink="settings"><button style="width: 80px;">SETTINGS</button></a>
    <a routerLink="payment"><button>CART</button></a>

    <a id="sign_in" *ngIf="signinService.getlogin() != 'true'" routerLink="signin"><button>SIGN IN</button></a>
    <a id="sign_up" *ngIf="signinService.getlogin() != 'true'" routerLink="signup"><button>SIGN UP</button></a>
    <a id="sign_out" *ngIf="signinService.getlogin() == 'true'" routerLink="home" (click)="signinService.logout()"><button>SIGN OUT</button></a>
  </nav>
  <router-outlet></router-outlet>
</div>