button {
    background-color: #b4154f;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	width: 100%;
}

#cost {
    float: right;
}

#hst {
    float: right;
}

#total {
    float: right;
}