.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.d-flex {
    display: flex;
    flex-direction: row;
    background: #f6f6f6;
    border-radius: 0 0 5px 5px;
    padding: 25px;
}

form {
    flex: 4;
}

.title {
    background-color: var(--main-color);
    border-radius: 5px 5px 0 0;
    padding: 20px;
    color: #f6f6f6;
}

h1 {
    margin: 0;
    font-weight: normal;
    padding-left: 15px;
    color: black;
}

.required {
    color: red;
}

label,
table {
    display: block;
    margin: 15px;
}

label>span {
    float: left;
    width: 25%;
    margin-top: 12px;
    padding-right: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select {
    width: 70%;
    height: 30px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid #dadada;
    color: #888;
}

select {
    width: 72%;
    height: 45px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.Yorder {
    margin-top: 15px;
    height: 335px;
    padding: 20px;
    border: 1px solid #dadada;
}

td {
    border-bottom: 1px solid #dadada;
    padding: 25px 25px 25px 0;
}

button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background: #b4154f;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    filter: brightness(90%);
}