<div class="container">
    <div class="title">
        <h1>Process Payment</h1>
    </div>
    <div class="d-flex">
        <form action="" method="">
            <label>
                <span class="fname">Name <span class="required">*</span></span>
                <input type="text" name="fname">
            </label>
            <label>
                <span>Country<span class="required">*</span></span>
                <input type="text" name="houseadd" required>
            </label>
            <label>
                <span>State / County <span class="required">*</span></span>
                <input type="text" name="city">
            </label>
            <label>
                <span>Postcode / ZIP <span class="required">*</span></span>
                <input type="text" name="city">
            </label>
            <label>
                <span>Phone <span class="required">*</span></span>
                <input type="tel" name="city">
            </label>
            <label>
                <span>Email Address <span class="required">*</span></span>
                <input type="email" name="city">
            </label>
        </form>
        <div class="Yorder">
            <table>
                <tr>
                    <th colspan="2">Your order</th>
                </tr>
                <tr>
                    <td>Subtotal</td>
                    <td id="subtotal">$88.00</td>
                </tr>
                <tr>
                    <td>Shipping</td>
                    <td>Free shipping</td>
                </tr>
            </table><br>
            <button type="button">Place Order</button>
        </div><!-- Yorder -->
    </div>
</div>