body,div,span{
    margin: 0%;
    padding: 0%;
}

body{
    
    text-align: center;
    width: 700px;
    margin-left: 30%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
.left p{
    width: 300px;
    float: left;
}
.right p{
    width: 300px;
    float: right;
}
.clear{
    clear: both;
}
.sleft {
    text-align: center;
    width: 200px;
    float: left;
}
.sright {
    text-align: center;
    width: 200px;
    float: right;
}