<!--Homepage-->
<div class="categories">
    <a href="../categories" class="style-red">All</a>|
    <a href="#">Art</a>|
    <a href="#">Fashion</a>|
    <a href="#">Beauty</a>|
    <a href="#">Electronics</a>|
    <a href="#">Entertainment</a>
</div>

<br>

<div class="contents">

    <div class="deals">
        <p>Today's Deals</p>
    </div>

    <div class="items">
        <div class="item"><b>Store 1</b></div>
        <div class="item"><b>Store 2</b></div>
        <div class="item"><b>Store 3</b></div>
    </div>

    <div class="items">
        <div class="item"><b>Product 1</b></div>
        <div class="item"><b>Product 2</b></div>
        <div class="item"><b>Product 3</b></div>
    </div>
</div>

<div>
    <a href="index.html"><button class="top">Back to top</button></a>
    <div class="misc">
        <br>
        <div><a href="../admin"><p>Admin</p></a></div>
        <div><a href="../about"><p>About</p></a></div>
        <div><a href="../contact"><p>Contact</p></a></div>
    </div>
</div>