button {
	background-color: #b4154f;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	width: 100%;
	padding: 10px;
}

form {
	display: flex;
	justify-content: center;
	min-height: 98vh;
}

select {
	float: right;
	width: 80px;
}

.settings {
	border: 1px solid #adadad;
	border-radius: 4px;
	padding: 15px;
    width: 270px;
    margin-top: 80px;
}