<div>
    <form>
        <div>
            <div class="settings">
                <h2 style="text-align: center;">Settings</h2>
                
                <label for="cookies">Cookies&emsp;&emsp;</label>
                <select name="cookies" id="cookies">
                    <option value="enable">Enable</option>
                    <option value="disable">Disable</option>
                </select><br><br>

                <label for="theme">Theme&emsp;&emsp;</label>
                <select name="theme" id="ads">
                    <option value="enable">Dark</option>
                    <option value="disable">Light</option>
                    <option value="disable">Green</option>
                </select><br><br>

                <label for="ads">Personalized Advertising&emsp;&emsp;</label>
                <select name="ads" id="ads">
                    <option value="enable">Enable</option>
                    <option value="disable">Disable</option>
                </select><br><br>

                <label for="ads">Language&emsp;&emsp;</label>
                <select name="ads" id="ads">
                    <option value="enable">English</option>
                    <option value="disable">French</option>
                    <option value="disable">Spanish</option>
                </select><br><br>

                <button class="login-button" type="submit">Save Settings</button><br>
            </div>
            <br>
        </div>
    </form>
</div>